html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: rgb(41, 56, 224);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
}